/* .container{
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 10px;
} */
html,body{
   background-color: black;
   height: 100%;
   width: 100%;
}
.container{
    display: flex;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
@media screen and (max-width:600px){
    .container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
}