#container{
    height: 500px;
    width: 800px;
    background-color: white;
    position: relative;
    border-radius: 5%;
}
#circle{
    height: 250px;
    width: 250px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 275px;
    top: 125px;
}