*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: sans-serif;
    color: #a0a0a0;
    background-color: #1e1e1e;
    height: 100%;
    width: 100%;
    margin: auto;
}
.main-container{
    height: 100vh;
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    position: relative;
    margin: auto;
}
.main-content{
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    position: sticky;
    min-height: 100vh;
}
.side-bar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    position: sticky;
    top: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}
.profile{
    padding: 50px;
    text-align: center;
}
img{
    height: 120px;
    border: 1px solid #2a2a2a;
    border-radius: 50%;
}

h2{
    color: #e0e0e0;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}
.photo{
    height: 120px;
    width: 120px;
}
span{
    color: yellow;
    background-color: #1e1e1e;
    font-size: 0.8rem;
    text-align: center;
    display: inline-block;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    padding: 5px 15px;
    margin-top: 10px;
}
/* contact information */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    margin-left: 40px;
    margin-right: 40px;
}
.boxes{
    height: 400px;
    width: 100%;
}