*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: xx-large;
    color: white;
}
.container{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    animation: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
@keyframes moving {
    from{
        transform:rotate(0deg) translateX(250px) rotate(0deg);
    }
    to{
        transform:rotate(360deg) translateX(250px) rotate(-360deg);
    }
}